@inherits Umbraco.Web.Mvc.UmbracoViewPage<UmbracoTwenty.Models.ArticleViewModel>
@{
    Layout = "Base.cshtml";
}
@section BodyClass {right-sidebar }
@section ContentArea 
{
    		<!-- Main -->
<article id="main">

    <header class="special container">
        <span class="icon fa-tablet"></span>
        <h2>@Html.Raw(Model.Title)</h2>
        <p>@Html.Raw(Model.Subtitle)</p>
    </header>

    <!-- One -->
    <section class="wrapper style4 container">

        <div class="row oneandhalf">
            <div class="8u">

                <!-- Content -->
                <div class="content">
                    <section>
                        <a href="#" class="image featured"><img src="@Model.FeaturedImage.Url" alt="@Model.FeaturedImage.Name" /></a>
                        <header>
                            <h3>@Html.Raw(Model.Header)</h3>
                        </header>
                        @Html.Raw(Model.Body)
                    </section>
                </div>

            </div>
            <div class="4u">

                <!-- Sidebar -->
                <div class="sidebar">
                    @Html.Partial("Callouts", Model.ArticleCallouts)
                </div>

            </div>
        </div>
    </section>

    <section class="wrapper style1 container special">
        @{
            ViewDataDictionary calloutViewData = new ViewDataDictionary();
            calloutViewData["numberOfColumns"] = 3;
        }
        @Html.Partial("Callouts", Model.Callouts, calloutViewData)
    </section>

</article>

}
