@inherits Umbraco.Web.Mvc.UmbracoViewPage<IList<UmbracoTwenty.Models.CalloutViewModel>>
@{
    int numberOfColumns = 4;
    string columnClass = "4u";
    try
    {
        numberOfColumns = (int)ViewData["numberOfColumns"];
    }
    catch { }
    switch (numberOfColumns)
    {
        case 1:
            columnClass = "12u";
            break;

        case 2:
            columnClass = "6u";
            break;

        case 3:
            columnClass = "4u";
            break;

        case 4:
            columnClass = "3u";
            break;

        case 6:
            columnClass = "2u";
            break;

        case 12:
            columnClass = "1u";
            break;

        default:
            numberOfColumns = 4;
            columnClass = "3u";
            break;
            
            
    }
    
    int columnCounter = 0;
    foreach (var callout in Model)
    {
        if (columnCounter == 0)
        {
            @Html.Raw("<div class=\"row\">")
        }
        @RenderCallout(columnClass, true, true, callout);
        columnCounter++;
        if (columnCounter == numberOfColumns) 
        {
            @Html.Raw("</div>")
            columnCounter = 0;
        }
    }
}

@helper RenderCallout(string columnClass, bool displayImage, bool displayButton, UmbracoTwenty.Models.CalloutViewModel callout)
{
    <div class="@columnClass">

        <section>
            <a href="#" class="image featured"><img src="@callout.Image.Url" alt="" /></a>

            <header>
                <h3>@callout.Title</h3>
            </header>
            <p>@Html.Raw(callout.Body)</p>
            <footer>
                <ul class="buttons">
                    <li><a href="#" class="button small">@callout.LinkText</a></li>
                </ul>
            </footer>
        </section>

    </div>

}