@inherits Umbraco.Web.Mvc.UmbracoViewPage<UmbracoTwenty.Models.FooterViewModel>

<!-- Footer -->
<footer id="footer">
    <ul class="icons">
        @RenderLinkIfNotEmpty(Model.TwitterLink, "icon circle fa-twitter", "Facebook")
        @RenderLinkIfNotEmpty(Model.FacebookLink, "icon circle fa-facebook", "Facebook")
        @RenderLinkIfNotEmpty(Model.GooglePlusLink, "icon circle fa-google-plus", "Facebook")
        @RenderLinkIfNotEmpty(Model.GithubLink, "icon circle fa-github", "Facebook")
        @RenderLinkIfNotEmpty(Model.DribbleLink, "icon circle fa-dribbble", "Facebook")
    </ul>
    <ul class="copyright">
        <li>@Model.Copyright</li>
        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
</footer>
@helper RenderLinkIfNotEmpty(dynamic link, string cssClass, string linkName)
{
    if (string.IsNullOrEmpty(link) == false)
    {
        <li><a href="@link" class="@cssClass"><span class="label">@linkName</span></a></li>
    }
}