@inherits Umbraco.Web.Mvc.UmbracoViewPage<UmbracoTwenty.Models.BaseViewModel>
@using System.Linq;
@{
    IPublishedContent root = Umbraco.TypedContent(UmbracoContext.Current.PageId).AncestorOrSelf(1);
}
<h1 id="logo"><a href="/">Twenty <span>by HTML5 UP</span></a></h1>
<nav id="nav">
    <ul>
        @foreach (var menuItem in Model.Root.LeftMenuItems)
        {
            @RenderMenuLink(menuItem);
        }

        @foreach (var landingpage in root.Children.Where(x => x.GetPropertyValue<bool>("displayInMenu") == true))
        {
            IEnumerable<IPublishedContent> submenuItems = landingpage.Children.Where(x => x.GetPropertyValue<bool>("displayInMenu") == true);
            
            bool isSubMenu = submenuItems.Count() > 0;

            <li class="@Html.Raw(isSubMenu ? "submenu" : "")">
                @if (@isSubMenu)
                {
                    <a href="" rel="nofollow">@landingpage.Name</a>
                    <ul>
                        <li><a href="@landingpage.Url">@landingpage.Name</a></li>

                        @foreach (var submenuItem in submenuItems)
                        {
                            IEnumerable<IPublishedContent> submenuItemChildren = submenuItem.Children.Where(x => x.GetPropertyValue<bool>("displayInMenu") == true);
                            bool hasChildren = submenuItemChildren.Count() > 0;
                            if (@hasChildren)
                            {
                                <li>
                                    <a href="" rel="nofollow">@submenuItem.Name</a>
                                    <ul>
                                        @foreach (var tertiaryChild in submenuItemChildren)
                                        {
                                            <li><a href="@tertiaryChild.Url">@tertiaryChild.Name</a></li>
                                        }
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li><a href="@submenuItem.Url">@submenuItem.Name</a></li>
                            }
                        }
                    </ul>
                }
                else
                {
                    <a href="@landingpage.Url">@landingpage.Name</a>
                }
            </li>

        }
        @foreach (var menuItem in Model.Root.RightMenuItems)
        {
            @RenderMenuLink(menuItem);
        }
    </ul>

</nav>

@helper RenderMenuLink(UmbracoTwenty.Models.MenuItemViewModel menuItem)
{
    if (!string.IsNullOrEmpty(menuItem.Text) && !string.IsNullOrEmpty(menuItem.Link.Url))
    {
        string linkClass = "";
        if (menuItem.Type == "457")
        {
            linkClass = "button";
        }
        if (menuItem.Type == "456")
        {
            linkClass = "button special";
        }
        <li><a href="@menuItem.Link.Url" class="@linkClass">@menuItem.Text</a></li>
    }
}